body {
    margin: 0;
    padding: 0;

    background: #333;
    width: 100vw;
}

canvas {
    display: block;
    border: 5px solid #ccc;
    box-sizing: border-box;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
